.store_wrapper{padding-bottom: 64px; margin-bottom: 64px; width: 100%; border-bottom: 1px solid #e5e5e5;}
.store_name{font-size: 36px; font-weight: 700; margin: 0 0 24px; display: flex; align-items: center; padding: 0 24px; position: relative; z-index: 1}
.store_name .store_logo{width: 64px; height: 64px; padding: 6px; display: flex; align-items: center; justify-content: center; border-radius: 8px; border: 1px solid #2b2b2b; margin-right: 16px}
.store_name .store_logo span{ background-size: contain; background-position: center; background-repeat: no-repeat; width: 100%; height: 100%}
.store_image{display: block;width: 100%; height: 480px; position: relative; background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: 24px;}
/*.store_image:after{content: ""; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(255,255,255,0.3);}*/
.store_introduction{font-size: 18px; color: #6a6a6a; padding: 0 24px}

.item_wrapper{padding: 0 24px}
.max_width640{max-width: 640px; margin: 0 auto;}

/* 상품정보 & 카테고리 목록*/
.product_list_wrap{padding-bottom: 72px}
.product_list_wrap h2{margin-bottom: 20px}
.product_list_wrap .category_list{display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 24px;}
.product_list_wrap .category_list .category_name{display: flex; align-items: center; justify-content: center; cursor: pointer; width: 25%; padding: 20px; font-size: 14px; color: #ffffff; background-color: #ff99ac; border-radius: 8px; border: 1px solid #e5e5e5; transition: 0.3s background-color}
.product_list_wrap .category_list .category_name:hover{background-color: #ff85a1;}
.product_list_wrap .category_list .category_name.active{background-color: #ff7096;}

/* 상품 목록*/
.product_list{display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between;}
.product_list .product{width: 45%; text-align: center; margin-bottom: 12px; cursor: pointer;}
.product_list .product img{display: block; width: 100%; margin-bottom: 8px}

/* 상품 옵션 선택 팝업*/
.product_options_popup{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); z-index: 100;}
.product_options_popup .product_options_popup_wrapper{width: 100%; height: 100%; padding: 24px; display: flex; align-items: center; justify-content: center}
.product_options_popup .product_options_popup_inner_wrapper{background-color: #ffffff; width: 100%; max-width: 640px; height: 100%; max-height: 1000px; border-radius: 16px; position: relative; padding: 0 16px 24px; overflow-y: hidden}
.product_options_popup_header{position: absolute; left: 0; top: 0; width: 100%; height: 56px; background-color: #f9bec7; display: flex; align-items: center; justify-content: space-between; padding: 12px 16px; border-radius: 12px 12px 0 0; color: #ffffff}
.product_options_popup_header button{width: 32px; height: 32px; text-indent: -9999px; background: url("../images/btn_32_close_wh.png") no-repeat center; background-size: contain}
.product_options_popup_inner_wrapper .product_options{height: 100%; overflow-y: auto; padding-bottom: 170px; -ms-overflow-style: none; /* 인터넷 익스플로러 */scrollbar-width: none; /* 파이어폭스 */}
.product_options_popup_inner_wrapper .product_options::-webkit-scrollbar {display: none;}
.product_options_popup_inner_wrapper .product_image{margin-top: 80px; width: 100%; height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center}
.product_options_popup_inner_wrapper .options_title{text-align: center; margin: 20px 0}
.product_options_popup_inner_wrapper .options{display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 20px}
.product_options_popup_inner_wrapper .options label{ width: 100%; height: 33%; padding: 20px; margin: 3px; border: 2px solid #faeaec; border-radius: 12px; display: flex; align-items: center; justify-content: center; flex-direction: column}
.product_options_popup_inner_wrapper .options .not_select{margin: 0}
.product_options_popup_inner_wrapper .options label input{pointer-events: none}
.product_options_popup_inner_wrapper .options .divide_into_5{width: 24%;}
.product_options_popup_inner_wrapper .options .divide_into_4{width: 24%}
.product_options_popup_inner_wrapper .options .divide_into_3{width: 32%}
.product_options_popup_inner_wrapper .options .divide_into_2{width: 49%}
.product_options_popup_inner_wrapper .options .divide_into_1{width: 100%}
.product_options_popup_inner_wrapper textarea{resize: none; width: 100%; height: 200px; border: 2px solid #faeaec; border-radius: 12px; padding: 16px; font-size: 20px}

.order_button_wrap{position: absolute; left: 0; bottom: 0; width: 100%; height: 170px; border-radius: 0 0 12px 12px; background-color: #faf2f3;}
.order_button_wrap p{text-align: center; padding: 15px 0; font-size: 16px; color: #2b2b2b}
.order_button_wrap .button_wrap{display: flex; align-items: center; height: 72px;}
.order_button_wrap .button_wrap button{width: 100%; height: 100%; color: #ffffff; font-size: 20px; background-color: #fbb1bd}
.order_button_wrap button:disabled{background-color: #e5e5e5; pointer-events: none}
.order_button_wrap .button_wrap button:hover{background-color: #ff99ac}
.order_button_wrap .quantity_button_wrap{display: flex;align-items: center; justify-content: center; height: 50px;}
.order_button_wrap .quantity_button_wrap button{display: flex;align-items: center; justify-content: center; width: 25px; height: 25px; font-size: 16px;}
.order_button_wrap .quantity_button_wrap span{width: 50px; text-align: center}

.qr_code_wrap{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}


@media screen and (max-width: 768px) {
  .product_list_wrap .category_list .category_name{width: 50%}
  .product_list .product{width: 100%; }
  .product_options_popup_inner_wrapper .options .divide_into_5,
  .product_options_popup_inner_wrapper .options .divide_into_4,
  .product_options_popup_inner_wrapper .options .divide_into_3,
  .product_options_popup_inner_wrapper .options .divide_into_2,
  .product_options_popup_inner_wrapper .options .divide_into_1{width: 100%}
}